<div class="container user-section">
  <h4> Please enter user name and job for user registration:</h4>
  <form [formGroup]="userRegisterForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="exampleInputName">User Name</label>
      <input type="text" formControlName="username" class="form-control" id="exampleInputName" placeholder="Enter user name" required>
    </div>
    <div class="form-group">
      <label for="exampleInputJob">Job</label>
      <input type="text" formControlName="job" class="form-control" id="exampleInputJob" placeholder="Job" required>
    </div>
    <div class="form-group">
      <button type="submit" value="Save" class="btn btn-primary btn-block">Register</button>
    </div>
  </form>
  <div *ngIf="successMsg">
    <h6 class='alert alert-success'>{{ successMsg }}</h6>
  </div>
</div>